<div id="DialogDuplicates">
    <div class="ngdialog-message">
        <div ng-include src="'images/dialog_warning.svg'" class="warnIcon"></div>
        
        <div class="title">Duplicate Names</div>
        <div class="message">It looks like some of the files you're trying to send share the same name. Try selecting different names for these files or removing one or more of the files with the same name from the transfer list. That should fix things.</div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">OK</button>
    </div>
</div>