<div id="DialogAbout">
    <div class="ngdialog-message">
        <img class="appIcon" src="images/icon128.png">
        <!--<div class="appName">TI Connect<span class="trademark">&trade;</span>CE</div>-->
        <div class="appName">TI Connect&trade; CE App for Chrome OS&trade;</div>
<!--        <div class="version">Version {{ngDialogData.manifest.version_name}} ({{ngDialogData.manifest.version}})</div>-->
        <div class="version">Version {{ngDialogData.manifest.version}}</div>
        <img class="tiLogo" src="images/TI logo @2x.png">
        <div class="copyright">Copyright &copy; 2003-2019 Texas Instruments Incorporated. All rights reserved.</div>
    </div>
    <div class="ngdialog-buttons">
        <a class="ngdialog-button ngdialog-button-secondary" href="http://www.ti.com/corp/docs/legal/privacy.shtml" target="_blank">Privacy Policy</a>
        <a class="ngdialog-button ngdialog-button-secondary" href="http://education.ti.com" target="_blank">education.ti.com</a>
        <button type="button" autofocus class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
    </div>
</div>